# Renomeie este arquivo para ".env" se quiser ativar o Modo Desenvolvedor
# Isso desativa a trava de memoria RAM e permite usar LLMs na nuvem (É necessário conhecimento básico de consumo de API para usar esta opção, pesquise.)

IS_DEV_MODE=false

# Se quiser usar a API do Groq (Free) ou outra API (Paga) em vez do Ollama local, cole sua chave abaixo:
GROQ_API_KEY=
